[submodule "libs/sqlite_database"]
	path = libs/sqlite_database
	url = https://github.com/ivan-volnov/sqlite_database.git
[submodule "libs/libst"]
	path = libs/libst
	url = git@github.com:ivan-volnov/libst.git
